Package: com.codeymoore.ijackoffhq
Name: iJackOff - hqporner
Version: 1.2
Architecture: iphoneos-arm
Description: Ya'll need this ;)
Depiction: https://codeymoore.github.io/depictions/?p=com.codeymoore.ijackoff
Maintainer: Codey Moore
Author: Codey Moore
Section: Entertainment
